body {
	margin: 0;
	color: #000;
	min-width: 320px;
	background: #fff url("../images/bg-body.gif") repeat-x;

	font: 16px/1.5 arial, helvetica, sans-serif;
}
/* General reset */
h1, h2, h3, h4,h5, h6, p { margin: 0;}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	display: block;
}
input, select, textarea {
	vertical-align: middle;
	font: 100% arial, helvetica, sans-serif;
}
a {
	color: #f00;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
/* General settings */
.container {
	max-width: 1024px;
	margin: 0 auto;
}
